:root {
  --white: #ffffff;
  --blue: #4c74b4;
  --black: #000000;
  --light-gray: #edecec;
  --off-white: #f8f8f8;
  --gray-border: #d9d9d9;
  --dark-gray: #424242;
  --sky-blue: #4baeea;
  --dark-bg: #1e1e1e;
  --deep-dark: #121212;
  --text-muted: #797979;
  --text-light: #afafaf;
  --bg-soft: #fff8f8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--white);
}

img {
  max-width: 100%;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.text-justify {
  text-align: justify;
}

.custom-btn {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

.custom-btn:hover {
  background-color: var(--sky-blue) !important;
  color: var(--light-gray) !important;
}

.blue {
  color: var(--blue) !important;
}

.sky-blue {
  color: var(--sky-blue) !important;
}

.light {
  color: var(--text-light) !important;
}

/* projects section */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  height: 400px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  overflow: hidden;
}

.flip-card-back {
  color: var(--white);
  transform: rotateY(180deg);
}

/* certifications */
.cert-logo {
  height: 160px;
  object-fit: contain;
  width: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.cert-logos {
  display: flex;
  gap: 2rem;
  animation: scroll 30s linear infinite;
  width: max-content;
}

.cert-box {
  width: fit-content;
}

.cert-box:hover .cert-logo {
  transform: scale(1.05);
}

.cert-link {
  text-decoration: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.cert-logos-wrapper:hover .cert-logos {
  animation-play-state: paused;
}

@media (max-width: 768px) {
  img {
    height: 300px;
  }

  .cert-logo {
    height: 100px;
  }
}
